<!DOCTYPE html>
<html>
<style type="text/css">
div.medium {
border:1px ;
width: 1200px;
text-align:center;
}

div.imedium {
border:1px ;
margin: 0 50px 0 50px;
text-align:center;
}

div.left{
border:0px ;
margin: 0 0 0 500px;
text-align:left;
width:500px;
}

img {
margin:0 auto
}
</style>

<head>
<div class="imedium">
 <meta http-equiv="content-type" content="text/html; charset=utf-8" />

 <img src="http://ww3.sinaimg.cn/mw690/56d6df31gw1dz6ek53nayj.jpg" width=885 height= 281>


 <title>{{ page.title }}</title>
</div>
<script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script>
        var JSONP_callback = "?callback=?";
        function getWeather() {
            var target = "http://api.wunderground.com/api/74109fc106fa1091/forecast/q/BE/Brussels.json" + JSONP_callback;
            var beijing= "http://api.wunderground.com/api/74109fc106fa1091/forecast/q/Beijing.json" + JSONP_callback;
            $.getJSON(target, function(result) {
                var output = "<table border='1'><tr>";
                for(var i = 0; i < result.forecast.simpleforecast.forecastday.length; i++){
                    var fc = result.forecast.simpleforecast.forecastday[i];
                    output += "<td>";
                    output += "<u>" + fc.date.weekday + "</u><br/>";
                    output += "<img src='" + fc.icon_url + "'><br/>";
                    output += fc.low.celsius + " to " + fc.high.celsius;
                    output += "</td>";
                }
                output += "</tr></table>";
                $("#result").html(output);
            });

          $.getJSON(beijing, function(result1) {
                var output = "<table border='1'><tr>";
                for(var i = 0; i < result1.forecast.simpleforecast.forecastday.length; i++){
                    var fc = result1.forecast.simpleforecast.forecastday[i];
                    output += "<td>";
                    output += "<u>" + fc.date.weekday + "</u><br/>";
                    output += "<img src='" + fc.icon_url + "'><br/>";
                    output += fc.low.celsius + " to " + fc.high.celsius;
                    output += "</td>";
                }
                output += "</tr></table>";
                $("#result1").html(output);
            });
        }


    </script>
</head>

<body onLoad="getWeather();">
	<div id="container" style="width:1000px">
	   <div style="float:left;width=700px;">
            <p>Brussels</p>
	   		<div id="result" ></div>
	   </div>
       <div style="float:left;width=700px;">
            <p>Beijing</p>
            <div id="result1" ></div>
        </div>
	   <div class="medium">
	   <div class="left">
  				 {{ content }}
		</div>
		</div>
	</div>
<p><a href="http://21.github.com/ly" >回主页</a></p>
</body>

</html>